.selectedPage {
  font-weight: bold;
}

.news_header > span {
  color: white;
  padding: 12px 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  background: #2d2d2d;
}

.add_zakaz {
  color: white;
  padding: 12px 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 19px;
  background: #2d2d2d;
}
